/bin/
/obj/
.vs/
.vs/SampleJWT/v17/.suo
bin/Debug/net6.0/SampleJWT.dll
bin/Debug/net6.0/SampleJWT.pdb
obj/Debug/net6.0/SampleJWT.csproj.CoreCompileInputs.cache 
obj/Debug/net6.0/SampleJWT.pdb
obj/Debug/net6.0/refint/SampleJWT.dll
